:root{
     --bg-color: rgb(231,229,204);
    --text-color: rgb(8,94,101);
}
*
{
    margin: 20;
    padding: 20;
}

html,
body
{
    overflow: hidden;
}

canvas.webgl
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}
body, html{
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    /*Modo default:*/
    background-color:var(--bg-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}
    .page-title{
        color:var(--text-color);
        font-family:"Righteous", sans-serif;;
        font-size: 128px;
        transition:color 0.5s ease, color 0.5s ease;
    }
        /*Modo oscuro:*/
body.dark-mode{
    --bg-color: rgb(8,94,101);
    --text-color: rgb(231,229,204);
    }
#Theme{
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 14px;
    cursor:pointer;
    border:none;
    border-radius:20px;
}


